PORT=5001
MONGO_URI=mongodb://localhost:27017/secure-notes
JWT_SECRET=supersecurejwtsecretkeyforyou
JWT_REFRESH_SECRET=evenmoresecurerefreshsecretkeyforyou
CLIENT_URL=http://localhost:5173
JWT_ACCESS_EXPIRY=Expiry_Time
JWT_REFRESH_EXPIRY=Expiry_Time
