PORT=5001
MONGO_URI=mongodb+srv://abhishekmaurya676:QsuzG4KK5IQI1Rvi@cluster0.ruuyk.mongodb.net/?appName=Cluster0
JWT_SECRET=supersecurejwtsecretkeyforyou
JWT_REFRESH_SECRET=evenmoresecurerefreshsecretkeyforyou
CLIENT_URL=http://localhost:5173
JWT_ACCESS_EXPIRY=1d
JWT_REFRESH_EXPIRY=7d
AES_SECRET=supersecretkeyshouldbechangeinproduction123